.home-container {
  border: 1px solid red;
  padding: 20px;
  width: 100%;
}

.category-content-container {
  display: flex;
}

.cards-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
